<h6>Create Blog</h6>
<a href="/">Back</a>

<form action="/create_blog" method="post">
	<label>Title</label>
	<input type="text" name="title">
	<br>
	<label>Content</label>
	<input type="text" name="content">
	<label>Comment</label>
	<input type="submit" value="Create Blog">
</form>