<h6>List</h6>
<a href="/new">Create blog</a>

<ul>
	<% @blogs.each do |blog|%>
		<li>
			<strong><a href="/blog/<%=blog.title %>"<%= blog.title %></a></strong>
			<%= blog.content %>
			<%= blog.comment %>
		</li>
	<% end %>

</ul>